/* Write your CSS here */
.separator {
  height: 3px;
  background-color: #64748b;
  margin-top: 0px;
  margin-bottom: 0px;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 89vh;
  font-family: 'Roboto';
}
.home-image {
  width: 120px;
}
.home-heading {
  color: #000000;
}
.dark-bg-color {
  background-color: #000000;
}
.dark-text {
  color: white;
}
